* {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

body{
  max-width: 1650px;
  margin: 0;
  padding: 0;
}
/* @media screen and (max-width: 576px) {
  /* .dropdown{
    display: none;
  } */
  /* .navbar-end{
    display: none;
  } 
  
  
} */